<template lang="pug">
  .flex.flex-auto.flex-col.my-5.p-5.shadow-md
    img(:src="user.avatar")
    .flex.py-3 Name: {{ fullName }}
    .flex.bg-blue-500.text-white.p-3 Reversed Name: {{ reverseFullName }}
    .flex.py-3 Email: {{ user.email}}
    slot(name="button")
</template>

<script lang="ts">
import { Vue, Component, Prop, Emit } from "vue-property-decorator"

interface UserInfo {
  // eslint-disable-next-line camelcase
  first_name: string
  // eslint-disable-next-line camelcase
  last_name: string
  email: string
}

@Component
export default class User extends Vue {
  @Prop({ type: Object, required: true }) readonly user!: UserInfo

  @Emit("fetchUserDetail")
  crossComponentEmission(id) {
    return id
  }

  message: string = "Welcome to Vue Typescript"

  get fullName(): string {
    return `${this.user.first_name} ${this.user.last_name}`
  }

  get reverseFullName(): string {
    return this.fullName.split("").reverse().join("")
  }
}
</script>
