<template>
  <div class="m-auto w-1/2">
    <h1 class="text-6xl text-center">User Detail Page</h1>
    <UserList class="flex justify-center" :user="usersDetailInfo">
      <template #button>
        <button
          class="bg-blue-500 text-white py-3 px-10 rounded-md font-bold"
          @click="back"
        >
          RETURN
        </button>
      </template>
    </UserList>
  </div>
</template>

<script lang="ts">
import Vue from "vue"
import UserList from "~/components/user/index.vue"

export default Vue.extend({
  name: "UserDetail",
  components: { UserList },
  data() {
    return {
      usersDetailInfo: {},
    }
  },
  mounted() {
    this.getUserData()
  },
  methods: {
    back() {
      this.$router.push("/")
    },
    async getUserData() {
      const id = this.$route.params.id
      console.log(id)
      try {
        this.usersDetailInfo = await this.$axios.$post("/api/users/user", {
          id,
        })
      } catch (e) {
        console.error(e)
        throw e
      }
    },
  },
})
</script>

<style scoped></style>
