<template>
  <div class="container flex flex-col">
    <h1 class="text-6xl">Users List</h1>
    <div v-if="users.length" class="my-5">
      <div v-for="user in users" :key="user.id" class="flex">
        <UserList :user="user" @fetchUserDetail="fetchUserDetail">
          <template #button>
            <button
              class="bg-blue-500 text-white py-3 px-10 rounded-md font-bold"
              @click="fetchUserDetail(user.id)"
            >
              GET MORE INFO
            </button>
          </template>
        </UserList>
      </div>
    </div>
    <button
      class="bg-blue-500 text-white py-3 px-10 rounded-md"
      type="button"
      @click="$fetch"
    >
      Refresh
    </button>
  </div>
</template>

<script lang="ts">
import Vue from "vue"
import UserList from "~/components/user/index.vue"

export default Vue.extend({
  components: { UserList },
  data() {
    return {
      users: [],
      usersDetailInfo: [],
    }
  },
  async fetch() {
    try {
      this.users = await this.$axios.$get("/api/users/list")
    } catch (e) {
      console.error(e)
      throw e
    }
  },
  methods: {
    async fetchUserDetail(id) {
      await this.$router.push(`/users/${id}`)
    },
  },
})
</script>

<style>
/* Sample `apply` at-rules with Tailwind CSS
.container {
@apply min-h-screen flex justify-center items-center text-center mx-auto;
}
*/
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
